#destination {
  width: 100vw;
  height: max-content;
  min-height: 500px;
  padding: 6rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#detail__section {
  width: 100%;
  height: max-content;
  max-width: 1140px;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.images {
  width: 100%;
  height: max-content;
}

.info {
  width: 100%;
  height: max-content;
  margin-top: 2rem;
}

.title {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.location {
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  width: 100%;
  height: max-content;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.address {
  width: 100%;
  height: max-content;
  margin-top: 1rem;
}

.location__detail {
  margin-top: 1rem;
  list-style: none;
}

.location__list>td {
  height: 2rem;
}

.location__list>td:nth-child(1) {
  width: 1.5rem;
}

.location__list>td:nth-child(2) {
  width: 5rem;
  font-weight: bold;
}

.location__list>td:nth-child(3) {
  width: 12rem;
}


/* Destination page */
.filter {
  width: 100%;
  height: max-content;
  max-width: 768px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
  margin: 3rem auto;
}

.filter__item {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.filter__item > label {
  margin-bottom: 1rem;
}

.card__wrap {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 3rem;
}


@media screen and (min-width: 576px) {
  .filter {
    grid-template-columns: 3fr 2fr;
  }

  .card__wrap {
    grid-template-columns: 1fr 1fr;
    max-width: 720px;
  }
}

@media screen and (min-width: 768px) {
  #detail__section {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .info {
    margin-top: 0;
  }

  .filter {
    grid-template-columns: 3fr 2fr 3fr;
  }
  
  .card__wrap {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  #detail__section {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

  .card__wrap {
    max-width: 1140px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .filter {
    grid-template-columns: 3fr 2fr 3fr 3fr;
    max-width: 1024px;
  }
}
