@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #E5987C !important;
  --secondary-color: #FDC6AB;
  --light-color: #FCEADC;
  --text-color: #707070;
  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 576px
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #707070;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

main {
  padding-top: 75px;
}

/* Override primereact theme */

.p-highlight .p-menuitem-link {
  color: var(--primary-color) !important;
}

.p-tabmenu-ink-bar {
  background-color: var(--primary-color) !important;
}

.p-card-header {
  height: 216px;
}

.p-card-header img {
  height: 216px;
  object-fit: cover;
}

.p-card .p-card-title {
  font-size: 1.25rem !important;
}

.p-button.p-button-outlined {
  color: var(--primary-color) !important;
}

.p-galleria-thumbnail-container {
  background-color: #dddddd !important;
}

.p-galleria-thumbnail-prev {
  color: #707070 !important;
  padding-right: .75rem !important;
  margin-right: auto !important;
}

.p-galleria-thumbnail-next {
  color: #707070 !important;
  padding-left: .75rem !important;
  margin-left: auto !important;
}

.p-galleria-item img {
  height: 325px !important;
  object-fit: cover;
}

.p-galleria-thumbnail-item-content img {
  max-height: 125px !important;
  max-width: 175px !important;
  object-fit: cover;
}

.p-tag {
  background-color: #FF8C54 !important;
  padding: .25rem .8rem !important;
}

.p-button-text {
  color: var(--primary-color) !important;
}

.p-card-footer {
  text-align: right;
  padding: 1rem 0 !important;
}

#nprogress .bar {
  background: var(--primary-color) !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color) !important;
}

.p-panelmenu .p-panelmenu-panel {
  box-shadow: unset !important;
}

.p-menuitem-link {
  padding-left: 2.5rem !important;
}

#sidebar .open__button .p-button:enabled:hover {
  background: var(--primary-color) !important;
  border-radius: 0 4px 4px 0;
}

#sidebar .open__button .p-button {
  background: var(--primary-color) !important;
  border-radius: 0 4px 4px 0;
}

.p-accordion .p-accordion-tab {
  box-shadow: none !important;
  border: 1px solid #eeeeee;
  margin-top: 1rem;
}

.acc__content .p-accordion-content {
  padding: 0 !important;
  max-height: 500px !important;
  overflow-y: auto;
}

.p-accordion-tab {
  max-width: 768px;
}

.p-dropdown, .p-inputnumber, .p-multiselect {
  width: 100% !important;
  max-width: 250px;
}

.p-dropdown:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-focus,
.p-inputtext:enabled:focus,
.p-checkbox .p-checkbox-box.p-highlight {
  box-shadow: 0 0 0 1px var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: var(--primary-color) !important;
}

.p-field-radiobutton {
  margin-bottom: .5rem;
}

.p-radiobutton {
  margin-right: 1rem;
}

.p-rating .p-rating-icon {
  color: var(--primary-color) !important;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: var(--primary-color) !important;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon,
.p-checkbox .p-checkbox-box.p-highlight {
  background-color: var(--primary-color) !important;
}

@media screen and (min-width: 1280px) {
  .p-galleria-item img {
    height: 375px !important;
    object-fit: cover;
  }
}