@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #E5987C;
  --secondary-color: #FDC6AB;
  --light-color: #FCEADC;
  --text-color: #707070;
  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 576px
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #707070;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

main {
  padding-top: 75px;
}