@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #E5987C !important;
  --secondary-color: #FDC6AB;
  --light-color: #FCEADC;
  --text-color: #707070;
  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 576px
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #707070;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

main {
  padding-top: 75px;
}

/* Override primereact theme */

.p-highlight .p-menuitem-link {
  color: var(--primary-color) !important;
}

.p-tabmenu-ink-bar {
  background-color: var(--primary-color) !important;
}

.p-card-header {
  height: 216px;
}

.p-card-header img {
  height: 216px;
  object-fit: cover;
}

.p-card .p-card-title {
  font-size: 1.25rem !important;
}

.p-button.p-button-outlined {
  color: var(--primary-color) !important;
}

.p-galleria-thumbnail-container {
  background-color: #dddddd !important;
}

.p-galleria-thumbnail-next, .p-galleria-thumbnail-prev {
  color: #707070 !important;
}

.p-galleria-item img {
  height: 325px !important;
  object-fit: cover;
}

.p-tag {
  background-color: #FF8C54 !important;
  padding: .25rem .8rem !important;
}





@media screen and (min-width: 1280px) {
  .p-galleria-item img {
    height: 375px !important;
    object-fit: cover;
  }
}